
{% extends 'base.html' %}

{% load static %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}


    <div class="text-center text-justify mt-3">
                <h1 class="font-weight-normal text-info"> Optical Character Recognition (OCR) and Synthesis online</h1>
                <p>Convert Scanned Documents of handwriten text to another handwriting</p>
    </div>

    <div class="row">

        <div class="col-sm ">
            <ol>
                <li>Click the SELECT FILES button and select jpeg or png images you wish to convert. <br> or Drag and Drop files</li>
                <li class="text-secondary">Click UPLOAD button to upload image to server . </li>
                <li class="text-secondary">Use Recognise button to Recognise handwritten text inside uploaded image .</li>
                <li class="text-secondary">Finally . Generate new Hand written image by clicking generate button .</li>

            </ol>
        </div>
        <div class="col-sm content-parent ">
            <div class=" mr-5 content-box-n rounded-lg border" >
                <div class=" drag-area rounded-lg">

                </div>
            </div>
        </div>
    </div>

{% endblock %}



 {% block navbarblock %}

    <li class="nav-item active">
        <a class="nav-link" href="{% url 'homepage' %}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'synthesise' %}" >Generate from Text</a>
    </li>

{% endblock %}
