
{% extends 'base.html' %}

{% load static %}

{% block head %}
    <title>Synthesise</title>

{% endblock %}



 {% block navbarblock %}

    <li class="nav-item ">
        <a class="nav-link" href="{% url 'homepage' %}">Home </a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'synthesise' %}" >Generate from Text <span class="sr-only">(current)</span></a>
    </li>

{% endblock %}



{% block body %}


    <div class="text-center text-justify mt-3">
                <h1 class="font-weight-normal text-info"> Optical Character Recognition (OCR) and Synthesis online</h1>
                <p>Convert Scanned Documents of handwriten text to another handwriting</p>
    </div>



    <div class="row ">

        <div class="col-sm container">
            <div class="  row ">
            <ol>
                <li class="text-secondary">Enter the Text in the box</li>

                <li class="text-secondary" >Click Generate</li>


            </ol>
            </div>
            <div class=" button-div row float-right"> <button type="button" class="btn btn-secondary Text-button " onclick=" location.href = '{% url 'GeneratedImage' %}'" >Generate Image</button> </div>


        </div>
        <div class="col-sm content-parent ">

            <div class=" mr-5 content-box-n rounded-lg border" >
                <p class="text-justify text-left ml-2 mt-2 mr-2"> Recognized Text comes here </p>

            </div>


        </div>
    </div>

{% endblock %}